.action-card {
  display: flex;
}

.action-card:first-child {
  margin-top: 10rem;
}

.action-card:nth-child(even),
.flip .action-card:nth-child(odd) {
  flex-direction: row;
}

.action-card:nth-child(odd),
.flip .action-card:nth-child(even) {
  flex-direction: row-reverse;
}

.action-card-info {
  position: relative;
  width: 66rem;
  min-height: 40rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background-color: var(--box-bg-color);
  border: 1px solid #b4967e;
  border-radius: 1.8rem;
  padding: 2rem 1.75rem 1.125rem;
  box-sizing: border-box;
  overflow: visible;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

.action-card-title {
  font-size: 79px;
  line-height: 1;
  color: #716864;
  white-space: pre-wrap;
  word-break: break-word;
  text-indent: 0;
}

.action-card-title .id-box {
  vertical-align: 0.25rem;
}

.action-card-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.2rem;
  margin-top: 1rem;
  gap: 1rem;
}

.dashed-line {
  border-top: solid 2px black;
  border-image-source: repeating-linear-gradient(
    to right,
    #e6e1d4 0,
    #e6e1d4 14px,
    transparent 14px,
    transparent 20px
  );
  border-image-slice: 1;
  width: 100%;
  margin: 1rem 0 0;
}

.action-card-description {
  margin-top: 1rem;
  position: relative;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #716864;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: left;
  text-indent: 0;
}

.action-card-description[data-justify="true"] {
  text-align: justify;
}

.action-card-image-container {
  width: 31.5rem;
  height: 40rem;
  margin-right: -1rem;
  --card-container-height: 40rem;
}

.action-card-cost-group {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  --stroked-font-size: 4.43rem;
  --stroked-width: 6px;
}

.action-card-cost-group .cost {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  transform: translate(-30%, -15%);

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.action-card-cost-dice {
  width: 9rem;
  height: 9rem;
  transform: translateY(-8%);
  margin-bottom: -1rem;
  z-index: 0;
}
