.card-face-component {
  flex: 0 0 auto;
  position: relative;
  --card-width: calc(0.55 * var(--card-container-height));
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--card-width);
  --front-card-translate-x: calc(0.1637 * var(--card-container-height));
  --front-card-translate-y: calc(0.0274 * var(--card-container-height));
  transform: translate(
      var(--front-card-translate-x),
      var(--front-card-translate-y)
    )
    rotate(4.2deg);
  aspect-ratio: 7/12;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--card-width);
  --front-card-translate-x: calc(0.0627 * var(--card-container-height));
  --front-card-translate-y: calc(0.0281 * var(--card-container-height));
  transform: translate(
      var(--front-card-translate-x),
      var(--front-card-translate-y)
    )
    rotate(-2.5deg);
  aspect-ratio: 7/12;
}

.card-face-image {
  position: absolute;
  background-color: #cbc0a6;
  border-radius: 1.5rem;
  inset: 2px 1px;
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.6);
}

.card-back-image {
  position: absolute;
  border-radius: 1.5rem;
  inset: 2px 1px;
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}

.card-face-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.card-back-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  filter: brightness(95%);
}