.page-title-wrapper {
  margin-top: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.page-title-icon {
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
}

.page-title {
  height: 12rem;
  padding-top: 3.4rem;
  font-size: 5rem;
  color: #aa8d76;
  white-space: nowrap;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 17.6%,
    #ded3c3ff 18%,
    #ded3c3ff 20.8%,
    #f7f7ebbb 21.2%,
    #f7f7ebbb 79.4%,
    #ded3c3ff 80%,
    #ded3c3ff 82.6%,
    transparent 83.1%,
    transparent 100%
  );
  background-position: 0 0rem;
}

.page-title-tail {
  height: 12rem;
  width: 5rem;
}
