@layer reset, shared;

@font-face {
  font-family: "HYWH";
  src: url("/assets/font/HYWH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MSYH";
  src: url("/assets/font/msyh.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --page-bg-color: 247, 247, 235;
  --keyword-bg-color: #f0eadd;
  background-color: rgb(var(--page-bg-color));
  font-family: "HYWH", sans-serif;
  transform-origin: 0 0;
}

@layer reset {
  * {
    box-sizing: border-box;
    min-width: 0;
  }

  img {
    object-fit: cover;
    -webkit-user-drag: none;
  }
}

#root {
  position: relative;
  width: 1712px;
  user-select: none;
}

.layout {
  padding: 9rem 4rem 2.5rem;
  overflow: hidden;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("/assets/frame/header_decor.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

@layer shared {
  .figure {
    background: top right / 17.75rem no-repeat url("/assets/frame/figure.png");
  }
  .stroked-text-top {
    z-index: 12;
    font-size: var(--stroked-font-size);
    color: #ffffff;
    white-space: nowrap;
    line-height: 1;
  }

  .stroked-text-bottom {
    z-index: 11;
    font-size: var(--stroked-font-size);
    color: #ffffff;
    -webkit-text-stroke: var(--stroked-width) #4c443a;
    white-space: nowrap;
    line-height: 1;
  }
}

.author-decorator-top {
  position: absolute;
  top: -0.48rem;
  right: 2.35rem;
  display: inline-block;
  padding: 0 0.05rem;
  font-family: "MSYH", sans-serif;
  font-size: 12px;
  line-height: 1;
  background: linear-gradient(
    to bottom,
    rgb(var(--page-bg-color)) 68%,
    #fefef400 32%
  );
  color: #b4967e;
}

.author-decorator-bottom {
  position: absolute;
  bottom: -0.33rem;
  right: 2.35rem;
  display: inline-block;
  padding: 0 0.05rem;
  font-family: "MSYH", sans-serif;
  font-size: 12px;
  line-height: 1;
  background: linear-gradient(
    to top,
    rgb(var(--page-bg-color)) 45%,
    #fefef400 55%
  );
  color: #b4967e;
}

.version-layout {
  margin: -1.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.version-text {
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 2rem 0 1.5rem;
  background-color: #fefef4;
  border: 1px solid #b4967e;
  border-radius: 1.6rem;
  overflow: hidden;
  word-break: break-word;
  font-size: 2.25rem;
  line-height: 1;
  color: #bdb6af;
  white-space: pre-wrap;
  text-align: justify;
  text-indent: 0;
}

.logo {
  height: 8rem;
  opacity: 0.8;
  margin-top: -0.5rem;
}
