@layer reset, shared;

@font-face {
  font-family: "HYWH";
  src: url("/assets/font/HYWH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MSYH";
  src: url("/assets/font/msyh.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer reset {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  img {
    object-fit: cover;
    -webkit-user-drag: none;
  }
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  overflow: clip;

  --inner-width: 1712px;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.renderer-container {
  height: 100%;
  width: 50%;

  overflow-x: clip;
  overflow-y: scroll;
}

.capture-container {
  position: fixed;
  width: var(--inner-width);
  height: max-content;
  top: 0;
  left: 0;
  container: renderer / size;
}

.capturing-hint {
  display: none;
}

.capture-container:has(.layout) ~ .capturing-hint {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 90%;
}